body{
    color: write;
    blackground: black;
}

section {
background: #167ac6;
padding-bottom: 80px
padding-top: 80px
display: flex;
justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}


